/* ===== Reset start ===== */
* {
	box-sizing: border-box;
}
*:focus {
	outline: none;
}
body {
	margin: 0;
	background-color: #fff;
	color: #777;
	font: 300 15px/1 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}
p {
	margin: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: none;
}
ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
}
input, textarea, button {
	outline: none;
	border: none;
}
button {
	outline: none;
	border: none;
	cursor: pointer;
	background-color: transparent;
	padding: 0;
}
textarea {
	resize: vertical;
}
input[type="submit"] {
	cursor: pointer;
}
blockquote {
	margin: 0;
}
/* ===== Reset end ===== */
/* ===== Default classes start */
/* 
	text color, text align, float, backgrounds colors, text transform
*/
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}
.bg-black {
	background-color: #111;
}
.bg-grey {
	background-color: #f8f8f8;
}
.m-auto {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.rhomb-icon {
	display: inline-block;
	width: 23px;
	height: 23px;
	text-align: center;
	line-height: 23px;
	border-radius: 2px;
	font-size: 14px;
	transform: rotate(45deg);
}
.rhomb-icon i {
	transform: rotate(-45deg);
}
.rhomb-icon.black-icon {
	color: #fff;
	background-color: #111;
}
.rhomb-icon.white-icon {
	color:#111;
	background-color:#fff;
}
.rhomb-icon.transparent-icon {
	color: #111;
	border: solid 2px #606060;
}
.arrow-up {
	font-size: 50px;
	color: #c6c6c6;
	position: fixed;
	right: 30px;
	bottom: 30px;
	cursor: pointer;
}
/* ===== Default classes end */
/* ===== Default component start ===== */
/* 
	Buttons, text, title, section, small-section header, footer,
	form elements, icons, tabs, blockquote, container 
*/
.default-section {
	padding: 135px 0;
}
.small-section {
	padding: 70px 0;
}
.container {
	max-width: 1200px; /* 1200 - 30 = 1170 */
	padding: 0 15px;
	margin: auto;
}
.container-fluid {
	padding: 0 15px;
}
.title {
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	color: #111;
}
.title.title-white {
	color: #fff;
}
.title.section-title {
	font-size: 18px;
	letter-spacing: .5em; /* 0.5em = .5em */
	margin-bottom: 75px;
	font-weight: 400;
}
.title.section-title-light {
	font-size: 18px;
	letter-spacing: .3em;
	margin-bottom: 20px;
	font-weight: 300;
}
.default-text {
	font-size: 15px;
	line-height: 1.7333;
	font-weight: 300;
}
blockquote, 
.blockquote {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.6;
}
blockquote span, 
.blockquote span {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: .2em;
}
.btn {
	display: inline-block;
	padding: 12px 20px;
	border-radius: 2px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: .2em;
}
.btn[disabled] {
	cursor: not-allowed;
	opacity: .6;
}
.btn.btn-default {
	background-color: #e5e5e5;
	color: #777;
}
.btn.btn-default:hover {
	background-color: #d1d0d0;
}
.btn.btn-black {
	background-color: #323232;
	color: #fff;
}
.btn.btn-black:hover {
	background-color: #000;
}
.btn.btn-xs {
	padding: 7px 15px;
	font-size: 11px;
}
.form-control {
	width: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	height: 36px;
	font-size: 12px;
	font-family: 'Open Sans';
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #777;
	padding-left: 13px;
	padding-right: 13px;
}
.form-control:focus {
	border-color: #111;
}
textarea.form-control {
	min-height: 90px;
	padding-top: 10px;
}
.form-control[disabled],
.form-control.disabled{
	cursor: not-allowed;
	opacity: .6;
}
.form-control.error {
	border-color: #f57e7e;
}
.form-info {
	font-size: 11px;
	font-weight: 400;
	color: #aaa;
}
.form-info i .fa{
	font-size: 12px;
}
.footer .logo {
	margin-bottom: 25px;
}
.footer .social-list li{
	line-height: 19px; 
}
.footer .social-list li + li {
	margin-left: 13px;
}
.footer .social-list {
	margin-bottom: 107px;
}
.footer span {
	display: block;
}
.footer span + span {
	margin-top: 15px;
}
.footer .title {
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;;
	letter-spacing: .5em;
}
.footer .footer-text {
	font-size: 11px;
	color: #999;
	font-family: 'Dosis', sans-serif;
}
.footer {
	background-color: #f8f8f8;
	padding-top: 140px;
	padding-bottom: 58px;
}
/* ===== Default component end ===== */
/* ==== Guide styles start ==== */
.guid-section form .form-control {
	margin-bottom: 10px;
}
/* ==== Guide styles end ==== */
/* ===== Custom style start ==== */
.header {
	overflow: hidden;
	padding: 25px 0px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99;
}
.header .logo {
	float: left;
}
.header .header-nav {
	float: right;
}
.header .header-nav li {
	float: left;
	line-height: 23px; 
	color: rgba(255, 255, 255, .75);
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: .3em;
	font-weight: 400;
}
.header .header-nav li+li {
	margin-left: 31px; 
}
/* ----- Inner -----*/
.inner {
	background: url('../img/inner-bg.jpg') no-repeat center / cover;
	height: 100vh;
	text-align: center;
	padding-top: 73px;
}
.inner::before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-left: -4px;
}
.inner .inner-content {
	display: inline-block;
	vertical-align: middle;
}
.inner .inner-content h1 { 
	font-family: 'Dosis', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .75);
	letter-spacing: 1.7em;
	text-indent: 1.7em;
	margin-bottom: 100px;
}
.inner span {
	display: block;
	font-size: 19px;
	color: rgba(255, 255, 255, .75);
}
/* ----- Inner end ----- */

/* ----- About studio ----- */
.team-wrapper {
	margin-top: 108px;
}
.team-item .team-item-img {
	position: relative;
}
.team-item .team-item-skills {
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	transition: all .2s linear;
	padding: 40px;
}
.team-item .team-item-img:hover .team-item-skills {
	opacity: 1;
}
.skill-item span {
	font-size: 11px;
	color: rgba(255, 255, 255, .9);
	text-transform: uppercase;
	letter-spacing: .2em;
	display: block;
	margin-bottom: 7px;
}
.team-item-skills .skill-item + .skill-item {
	margin-top: 25px;
}
.progress-wrapp {
	width: 100%;
	height: 12px;
	background-color: rgba(255, 255, 255, .15);
}
.progress-wrapp .progress {
	background-color: rgba(255, 255, 255, .75);
	height: 12px;
	width: 0%;
	transition: width .5s ease-out;
}
.progress-wrapp .progress.branding {
	transition: width .5s ease-out;
}
.progress-wrapp .progress.design {
	transition: width .5s ease-out .2s;
}
.progress-wrapp .progress.development {
	transition: width .5s ease-out .4s;
}
.progress-wrapp .progress.photography {
	transition: width .5s ease-out .6s;
}
.team-item .team-item-img:hover .branding {
	width: 75%;
}
.team-item .team-item-img:hover .design {
	width: 86%;
}
.team-item .team-item-img:hover .development {
	width: 81%;
}
.team-item .team-item-img:hover .photography {
	width: 78%;
}
.team-item-skills p{
	font-size: 13px;
	color: rgba(255, 255, 255, .5);
	line-height: 1.615em;
	margin-bottom: 41px;
}
.team-item-info span {
	display: block;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	letter-spacing: .4em;
}
.team-item-name {
	font-size: 15px;
	margin-top: 30px; 
}
.team-item-role {
	font-size: 12px;
	margin-top: 15px;
}
.default-section.about-studio {
    border-bottom: 1px solid rgba(19, 19, 219, .07);
}
/* ----- About studio end ----- */

/* ----- Why choose us ----- */
.benefits-item span {
	display: block;
}
.icon {
	font-size: 48px;
	margin-bottom: 35px;
}
.benefits-item .title-benefits {
	font-family: 'Dosis', sans-serif;
	letter-spacing: .4em;
	margin-bottom: 35px;
	font-size: 14px;
}
.why-choose-us .row + .row {
	margin-top: 82px;
}
/* ----- Why choose us end ----- */

/* ----- Latest news ----- */
.latest-news-title {
	font-size: 11px;
	letter-spacing: .4em;
	color: #999;
	float: right;
}
.latest-news-img img {
	margin-bottom: 30px;
	filter: grayscale(100%);
}
.latest-news-img img:hover {
	filter: grayscale(0%);
	transition: linear .5s;
}
.latest-news-img .title-news {
	font-size: 15px;
	letter-spacing: .2em;
	color: #777;
}
.latest-news-item .title-news {
	display: block;
	margin-bottom: 17px;
}
.latest-news-item .latest-news-autor {
	font-size: 11px;
	letter-spacing: .4em;
	color: #999;
	display: block;
	margin-bottom: 27px;
}
.latest-news-item .latest-news-text {
	margin-bottom: 25px;
}
/* ----- Latest news end----- */

/* ----- Services ----- */
.services .title-services {
	margin-bottom: 120px;
}
#tabs .tabs-nav li {
	float: left;
	width: 20%;
	text-align: center;
	font-size: 13px;
	font-family: 'Dosis';
	font-weight: 400;
	letter-spacing: .4em;
	text-transform: uppercase;
	color: rgba(17, 17, 17, .5);
}
#tabs .tabs-nav li span {
	display: block;
}
#tabs .tabs-nav {
	overflow: hidden;
	margin-bottom: 82px;
}
#tabs .tabs-nav .ui-state-active{
	color: #111;
}
/* ----- Services end ----- */

/* ----- Lets talk ----- */
.lets-talk-content {
	padding: 140px 0;
}
.lets-talk-content p {
	color: rgba(255, 255, 255, .7);
	margin-bottom: 35px;
}
.lets-talk .lets-talk-img {
	margin-top: -32px;
}
/* ----- Lets talk end ----- */

/* ----- Portfolio ----- */
.portfolio-title span {
	display: block;
	margin-bottom: 79px;
}
.portfolio-title p {
	margin: 0 auto 85px;
	max-width: 755px;
	line-height: 1.733em;
}
#tabs-portfolio .tabs-nav li {
	display: inline-block;	
}
#tabs-portfolio .tabs-nav li + li {
	margin-left: 69px;
}
#tabs-portfolio .tabs-nav li span {
	font-size: 13px;
	letter-spacing: .4em;
}
#tabs-portfolio .tabs-nav {
	margin-bottom: 50px;
}
#tabs-portfolio .portfolio-item{
	width: 33.33%;
	padding: 4px;
	float: left;
	filter: grayscale(100%);
}
#tabs-portfolio .portfolio-item:hover {
	filter: grayscale(0);
	transition: .5s linear;
}
#tabs-portfolio {
	margin: 0 -4px;
}
.portfolio-tabs-wrapper {
	overflow: hidden;
}
.portfolio {
	padding-bottom: 0;
}
/* ----- Portfolio end ----- */

/* ===== Review carousel ===== */
.icon-carousel {
	font-size: 32px;
	margin-bottom: 23px;
	color: #fff;
}
.reviews-carousel {
	padding: 135px 0;
	overflow: hidden;
}
.reviews-carousel p {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;	
	line-height: 1.6667em;
	color: rgba(255, 255, 255, .75);
	margin-top: 44px;
	margin-bottom: 27px;
	width: 740px;
	margin: 0 auto 24px;
}
.slide-content .review-author {
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;	
	text-transform: uppercase;
	letter-spacing: .2em;
	color: rgba(255, 255, 255, .30);	
}
.slick-dots {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 30px;	
}
.slick-dots li {
	display: inline-block;
	height: 9px;
	width: 9px;
	background-color: rgba(255, 255, 255, .8);
	border: 1px solid #000;
	border-radius: 50%;
	cursor: pointer;
}
.slick-dots li button {
	display: none;
}
.slick-dots li + li {
	margin-left: 5px;
}
.slick-dots li.slick-active {
	background-color: #000;
	border-color: rgba(255, 255, 255, .8);
}
.slick-arrow {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 1;
	width: 90px;
	cursor: pointer;
}
.slick-arrow.slick-prev {
	left: 0;
}
.slick-arrow.slick-next {
	right: 0;
}
.slick-arrow .carousel-button {
	width: 63px;
	height: 63px;
	background: #fff;
	text-align: center;
	line-height: 63px;
	transform: rotate(-45deg);
	position: absolute;
	top: 50%;
	margin-left: -32px;
	margin-top: -31px;
}
.slick-arrow.slick-next .carousel-button {
	right: 0;
	margin-right: -31px;
}
.slick-arrow .carousel-button .fa {
	position: absolute;
	transform: rotate(45deg);
	font-size: 10px;
}
.slick-arrow.slick-prev .carousel-button .fa {
	bottom: 14px;
	right: 17px;	
}
.slick-arrow.slick-next .carousel-button .fa {
	top: 17px;
	left: 14px;
}
/* ===== Review carousel end ===== */

/* ----- Subscribe ----- */
.subscribe form .form-control {
	max-width: 293px;
}
.subscribe .form-info {
	margin-top: 17px;
}
/* ----- Subscribe end ----- */

/* ----- Contacts start ----- */
.contact-items-wrapper {
	margin-bottom: 80px;
}
.contact-item .contact-item-content {
	display: inline-block;
	vertical-align: middle;
}
.contact-item .contact-item-content {
	margin-left: 15px;
}
.contact-item .contact-item-content span {
	display: block;
}
.contact-form {
	margin: 0px -5px;	
}
.form-row {
	margin: 0px -5px;
	overflow: hidden;
}
.form-submit {
	margin-top: 20px;
}
.contact-form .form-col {
	float: left;
	width: 50%;
	padding: 0 5px;
}
.contact-form .form-control + .form-control{
	margin-top: 10px;
}
.contact-item-content .contact-title {
	color: #777;
	font-size: 12px;
	letter-spacing: .3em;
}
.contact-item-content .contact-data {
	color: #444;
}
.contact-item-content span + span {
	margin-top: 14px;
}
.form-submit .form-info {
	margin-top: 12px;
}
/* ----- Contacts end ----- */

/* ----- Map start ----- */
#map {
	height: 410px;
}
.map-container {
	position: relative;
}
.on-map-block {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .90);
	top: 0;
	left: 0;
}
.map-container:hover .on-map-block,
.map-container:hover .on-map-info{
	display: none;
}
.map-container .on-map-info{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.map-container .map-title {
	display: block;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: .3em;
	color: rgba(248, 248, 248, .75);
}
.map-container .rhomb-icon {
	margin-bottom: 28px;
}
/* ----- Map end ----- */
/* ===== Custom style end ==== */


